<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>JsonPath-plus training</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <label for="expression-test">Expressão: &nbsp; </label>
      <input id="expression-test" type="text" placeholder="type your expression to test here" (keyup)="testExpression($event)">
    </div>
    <div class="row">
      <div class="col-6">
        <label for="input-text">Dados de entrada'</label>
        <div>
          <textarea name="input-text" id="input-text" cols="30" rows="10" style="width: 100%; height: 100%;" >{{[(inputSample)]}}</textarea>
        </div>

      </div>
      <div class="col-6">
          <label for="result">Resultado</label>
          <div>
            <textarea name="result" id="result-text" cols="30" rows="10" style="width: 100%; height: 100%;">{{resultText}}</textarea>
          </div>
      </div>
    </div>
  </div>

</body>

</html>